<div class="bg-gray-50 rounded-lg shadow p-6">
    <h2 class="text-xl font-bold text-gray-800 mb-6">Monitoreo por planta</h2>
    

    <!-- Información principal -->
    <div class="flex items-center mb-6">
        <img [src]="flagUrl" alt="Bandera de {{ plant?.countryName }}" class="w-12 h-8 mr-4" />
        <div>
            <p class="text-lg font-semibold text-gray-700">{{ plant?.countryName }}</p>
            <p class="text-lg text-gray-600">{{ plant?.nombre }}</p>
        </div>
    </div>

    <!-- Tarjetas del resumen -->
    <div class="grid grid-cols-2 md:grid-cols-4 gap-4">
        <div *ngFor="let card of summaryCards" class="bg-white shadow-md rounded-lg p-4 text-center">
            <h3 class="text-sm font-semibold text-gray-500">{{ card.label }}</h3>
            <p class="text-xl font-bold text-blue-600">{{ card.value }}</p>
            <p class="text-xs text-gray-500">{{ card.unit }}</p>
        </div>
    </div>
</div>