<div class="bg-gray-100 flex justify-center items-center h-screen">
    <!-- Left: Image -->
    <div class="w-1/2 h-screen hidden lg:block">
        <svg width="796" height="900" viewBox="0 0 796 900" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect opacity="0.85" width="796" height="900" fill="url(#paint0_linear_6115_179)" />
            <defs>
                <linearGradient id="paint0_linear_6115_179" x1="398" y1="0" x2="398" y2="900" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#33A3AA" />
                    <stop offset="1" stop-color="#107076" />
                </linearGradient>
            </defs>
        </svg>
    </div>
    <!-- Right: Register Form -->
    <div class="lg:p-36 md:p-52 sm:20 p-8 w-full lg:w-1/2">
        <h1 class="text-2xl font-semibold mb-4 text-center">Regístrate</h1>
        <form (submit)="onRegister()" class="space-y-4">
            <!-- Username Input -->
            <div>
                <label for="username" class="block text-gray-600 font-medium">Usuario</label>
                <input [(ngModel)]="username" type="text" id="username" name="username"
                    class="w-full border border-gray-300 rounded-md py-2 px-3 focus:outline-none focus:ring-2 focus:ring-blue-500"
                    placeholder="Ingresa tu nombre de usuario" autocomplete="off" required>
            </div>
            <!-- Password Input -->
            <div>
                <label for="password" class="block text-gray-600 font-medium">Contraseña</label>
                <input [(ngModel)]="password" type="password" id="password" name="password"
                    class="w-full border border-gray-300 rounded-md py-2 px-3 focus:outline-none focus:ring-2 focus:ring-blue-500"
                    placeholder="Ingresa tu contraseña" required>
            </div>
            <!-- Role Input -->
            <div>
                <label for="role" class="block text-gray-600 font-medium">Rol</label>
                <select [(ngModel)]="role" id="role" name="role"
                    class="w-full border border-gray-300 rounded-md py-2 px-3 focus:outline-none focus:ring-2 focus:ring-blue-500"
                    required>
                    <option value="USER">Usuario</option>
                    <option value="ADMIN">Administrador</option>
                </select>
            </div>
            <!-- Register Button -->
            <button type="submit"
                class="bg-blue-500 hover:bg-blue-600 text-white font-semibold rounded-md py-2 px-4 w-full">
                Registrarse
            </button>
        </form>
        <!-- Back to Login Link -->
        <div class="mt-6 text-blue-500 text-center">
            ¿Ya tienes una cuenta?
            <a href="/login" class="hover:underline">Inicia sesión aquí</a>
        </div>
    </div>
</div>