<div class="bg-gray-100 flex justify-center items-center h-screen">
    <!-- Left: Image -->
    <div class="w-1/2 h-screen hidden lg:block">
        <img src="https://placehold.co/800x/667fff/ffffff.png?text=Your+Image&font=Montserrat" alt="Placeholder Image"
            class="object-cover w-full h-full">
    </div>

    <!-- Right: Register Form -->
    <div class="lg:p-36 md:p-52 sm:20 p-8 w-full lg:w-1/2">
        <h1 class="text-2xl font-semibold mb-4 text-center text-green-500">Regístrate</h1>
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <!-- Username Input -->
            <div class="mb-4">
                <label for="username" class="block text-gray-600">Usuario</label>
                <input type="text" formControlName="username" id="username"
                    class="w-full border border-gray-300 rounded-md py-2 px-3 focus:outline-none focus:border-green-500"
                    placeholder="Ingresa un usuario" autocomplete="off">
            </div>

            <!-- Password Input -->
            <div class="mb-4">
                <label for="password" class="block text-gray-600">Contraseña</label>
                <input type="password" formControlName="password" id="password"
                    class="w-full border border-gray-300 rounded-md py-2 px-3 focus:outline-none focus:border-green-500"
                    placeholder="Ingresa una contraseña" autocomplete="off">
            </div>

            <!-- Role Input -->
            <div class="mb-4">
                <label for="role" class="block text-gray-600">Rol</label>
                <select formControlName="role" id="role"
                    class="w-full border border-gray-300 rounded-md py-2 px-3 focus:outline-none focus:border-green-500">
                    <option value="USER">Usuario</option>
                    <option value="ADMIN">Administrador</option>
                </select>
            </div>

            <!-- Register Button -->
            <button type="submit"
                class="bg-green-500 hover:bg-green-600 text-white font-semibold rounded-md py-2 px-4 w-full"
                [disabled]="registerForm.invalid">
                Registrarse
            </button>
        </form>

        <!-- Login Link -->
        <div class="mt-6 text-green-500 text-center">
            ¿Ya tienes una cuenta?
            <a routerLink="/login" class="hover:underline">Inicia sesión aquí</a>
        </div>
    </div>
</div>