<div class="flex h-screen bg-creamBlueDark/60">

    <app-sidebar></app-sidebar>

    <!-- Main Content -->
    <div class="flex-1 p-6">
        <header class="flex justify-between items-center mb-6">
            <h1 class="text-3xl font-bold text-blue-600">Monitoreo global</h1>
            <div class="flex items-center space-x-4">
                <button class="relative">
                    <!-- Icono 1 -->
                </button>
                <button class="relative">
                    <!-- Icono 2 -->
                </button>
                <button class="relative">
                    <!-- Icono 3 -->
                </button>
                <div class="flex items-center space-x-2">
                    <span class="text-gray-700 font-semibold">{{ userName }}</span>
                </div>
            </div>
        </header>

        <!-- Resumen de datos -->
        <div class="grid grid-cols-4 gap-4 mb-6">
            <div class="bg-white shadow-lg p-4 rounded-lg text-center border-t-4 border-blue-500">
                <h2 class="text-lg font-semibold text-gray-600">Lecturas OK</h2>
                <p class="text-2xl font-bold text-blue-600">{{ summary?.readingsOk }}</p>
            </div>
            <div class="bg-white shadow-lg p-4 rounded-lg text-center border-t-4 border-yellow-500">
                <h2 class="text-lg font-semibold text-gray-600">Alertas medias</h2>
                <p class="text-2xl font-bold text-yellow-600">{{ summary?.mediumAlerts }}</p>
            </div>
            <div class="bg-white shadow-lg p-4 rounded-lg text-center border-t-4 border-red-500">
                <h2 class="text-lg font-semibold text-gray-600">Alertas rojas</h2>
                <p class="text-2xl font-bold text-red-600">{{ summary?.redAlerts }}</p>
            </div>
            <div class="bg-white shadow-lg p-4 rounded-lg text-center border-t-4 border-gray-500">
                <h2 class="text-lg font-semibold text-gray-600">Sensores deshabilitados</h2>
                <p class="text-2xl font-bold text-gray-600">{{ summary?.disabledSensors }}</p>
            </div>
        </div>

        <!-- Tabla de plantas -->
        <app-plants (plantSelected)="handlePlantSelection($event)"></app-plants>

        <!-- Detalle de planta seleccionada -->
        <div *ngIf="selectedPlant" class="mt-6">
            <app-plant-detail [plant]="selectedPlant" [flagUrl]="selectedPlantFlag" [summary]="summary">
            </app-plant-detail>
        </div>
    </div>
</div>